ALTER TABLE [dbo].[lands] DROP CONSTRAINT [FK_lands_districts]
GO
ALTER TABLE [dbo].[land-demands] DROP CONSTRAINT [FK_land-demands_clients]
GO
ALTER TABLE [dbo].[land-demands] DROP CONSTRAINT [FK_land-demands_agents]
GO
ALTER TABLE [dbo].[houses] DROP CONSTRAINT [FK_houses_districts]
GO
ALTER TABLE [dbo].[house-demands] DROP CONSTRAINT [FK_house-demands_clients]
GO
ALTER TABLE [dbo].[house-demands] DROP CONSTRAINT [FK_house-demands_agents]
GO
ALTER TABLE [dbo].[apartments] DROP CONSTRAINT [FK_apartments_districts]
GO
ALTER TABLE [dbo].[apartment-demands] DROP CONSTRAINT [FK_apartment-demands_districts]
GO
ALTER TABLE [dbo].[apartment-demands] DROP CONSTRAINT [FK_apartment-demands_clients]
GO
ALTER TABLE [dbo].[apartment-demands] DROP CONSTRAINT [FK_apartment-demands_agents]
GO
/****** Object:  Table [dbo].[lands]    Script Date: 22.03.2024 22:08:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lands]') AND type in (N'U'))
DROP TABLE [dbo].[lands]
GO
/****** Object:  Table [dbo].[land-demands]    Script Date: 22.03.2024 22:08:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[land-demands]') AND type in (N'U'))
DROP TABLE [dbo].[land-demands]
GO
/****** Object:  Table [dbo].[houses]    Script Date: 22.03.2024 22:08:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[houses]') AND type in (N'U'))
DROP TABLE [dbo].[houses]
GO
/****** Object:  Table [dbo].[house-demands]    Script Date: 22.03.2024 22:08:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[house-demands]') AND type in (N'U'))
DROP TABLE [dbo].[house-demands]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 22.03.2024 22:08:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[districts]') AND type in (N'U'))
DROP TABLE [dbo].[districts]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 22.03.2024 22:08:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[clients]') AND type in (N'U'))
DROP TABLE [dbo].[clients]
GO
/****** Object:  Table [dbo].[apartments]    Script Date: 22.03.2024 22:08:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[apartments]') AND type in (N'U'))
DROP TABLE [dbo].[apartments]
GO
/****** Object:  Table [dbo].[apartment-demands]    Script Date: 22.03.2024 22:08:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[apartment-demands]') AND type in (N'U'))
DROP TABLE [dbo].[apartment-demands]
GO
/****** Object:  Table [dbo].[agents]    Script Date: 22.03.2024 22:08:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[agents]') AND type in (N'U'))
DROP TABLE [dbo].[agents]
GO
/****** Object:  Database [krasnoperov_YP_day1]    Script Date: 22.03.2024 22:08:53 ******/
DROP DATABASE [krasnoperov_YP_day1]
GO
/****** Object:  Database [krasnoperov_YP_day1]    Script Date: 22.03.2024 22:08:53 ******/
CREATE DATABASE [krasnoperov_YP_day1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'krasnoperov_YP_day1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\krasnoperov_YP_day1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'krasnoperov_YP_day1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\krasnoperov_YP_day1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [krasnoperov_YP_day1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[agents]    Script Date: 22.03.2024 22:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agents](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[MiddleName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DealShare] [int] NOT NULL,
 CONSTRAINT [PK_agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apartment-demands]    Script Date: 22.03.2024 22:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apartment-demands](
	[Id] [int] NOT NULL,
	[Address_City] [nvarchar](50) NULL,
	[IdDistricts] [int] NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinArea] [int] NULL,
	[MaxArea] [int] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
 CONSTRAINT [PK_apartment-demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apartments]    Script Date: 22.03.2024 22:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apartments](
	[Id] [int] NOT NULL,
	[Address_City] [nvarchar](max) NOT NULL,
	[IdDistricts] [int] NOT NULL,
	[Address_House] [int] NOT NULL,
	[Address_Number] [int] NOT NULL,
	[Coordinate_latitude] [int] NOT NULL,
	[Coordinate_longitude] [int] NOT NULL,
	[TotalArea] [nvarchar](max) NOT NULL,
	[Rooms] [int] NOT NULL,
	[Floor] [int] NOT NULL,
 CONSTRAINT [PK_apartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 22.03.2024 22:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[MiddleName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 22.03.2024 22:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[area] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_districts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[house-demands]    Script Date: 22.03.2024 22:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[house-demands](
	[Id] [int] NOT NULL,
	[Address_City] [int] NULL,
	[Address_Street] [nvarchar](max) NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinFloors] [int] NULL,
	[MaxFloors] [int] NULL,
	[MinArea] [int] NULL,
	[MaxArea] [int] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
 CONSTRAINT [PK_house-demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[houses]    Script Date: 22.03.2024 22:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[houses](
	[Id] [int] NOT NULL,
	[Address_City] [nvarchar](max) NOT NULL,
	[IdDistricts] [int] NOT NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[Coordinate_latitude] [int] NOT NULL,
	[Coordinate_longitude] [int] NOT NULL,
	[TotalFloors] [int] NOT NULL,
	[TotalArea] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_houses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[land-demands]    Script Date: 22.03.2024 22:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[land-demands](
	[Id] [int] NOT NULL,
	[Address_City] [int] NULL,
	[Address_Street] [nvarchar](max) NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinArea] [int] NULL,
	[MaxArea] [int] NULL,
 CONSTRAINT [PK_land-demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lands]    Script Date: 22.03.2024 22:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lands](
	[Id] [int] NOT NULL,
	[Address_City] [nvarchar](max) NOT NULL,
	[IdDistricts] [int] NOT NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[Coordinate_latitude] [int] NOT NULL,
	[Coordinate_longitude] [int] NOT NULL,
	[TotalArea] [int] NOT NULL,
 CONSTRAINT [PK_lands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
GO
INSERT [dbo].[apartment-demands] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, 4, 23, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[apartment-demands] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (6, N'Тюмень', NULL, NULL, NULL, NULL, 3100000, 7, 5, 20, NULL, NULL, NULL, 4, NULL)
INSERT [dbo].[apartment-demands] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (7, N'Тюмень', 616, NULL, NULL, NULL, NULL, 24, 25, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[apartments] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor]) VALUES (1, N'Тюмень', 626, 25, 12, 0, 0, N'41.7', 1, 3)
INSERT [dbo].[apartments] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor]) VALUES (2, N'Тюмень', 153, 8, 44, 0, 0, N'105', 3, 5)
INSERT [dbo].[apartments] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor]) VALUES (3, N'Тюмень', 346, 139, 6, 0, 0, N'62', 3, 2)
GO
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (2, N'Семенов', N'Евгений ', N'Николаевич', N'322555', NULL)
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', NULL, N'dummy@email.ru')
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (5, N'Сафронов', N'Алексей', N'Вячеславович', NULL, N'client@esoft.tech')
GO
INSERT [dbo].[districts] ([id], [name], [area]) VALUES (1, N'1 мкр', N'((57.1137744906982,65.5993050213258),(57.1136256459085,65.5995839710633),(57.1128230411438,65.5979317303102),(57.1129222732158,65.589606153528),(57.1125778783827,65.5888765926759),(57.1097408765818,65.585100042383),(57.1061213395916,65.5949061985415),(57.1123327140119,65.6033176060122),(57.1146728482688,65.6064300077323),(57.1161734355873,65.6023305530946),(57.1137744906982,65.5993050213258))')
INSERT [dbo].[districts] ([id], [name], [area]) VALUES (3, N'1-й Заречный мкр', N'((57.1749522939318,65.5538916631712),(57.1768053471396,65.5533337636961),(57.1779124727909,65.5526900335325),(57.1796138852,65.549900536157),(57.1768636177504,65.5443429990781),(57.1739732847701,65.5389571233762),(57.1732273555399,65.5403304143918),(57.1729418004967,65.5411458059323),(57.1719569100265,65.5464243932737),(57.1720151883157,65.5477118536009),(57.1712692194188,65.5507588430418),(57.1704299863521,65.5550074621214),(57.1749522939318,65.5538916631712))')
GO
INSERT [dbo].[house-demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinFloors], [MaxFloors], [MinArea], [MaxArea], [MinRooms], [MaxRooms]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, 4, 16, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[house-demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinFloors], [MaxFloors], [MinArea], [MaxArea], [MinRooms], [MaxRooms]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, 19, 10, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[houses] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (9, N'Тюмень', 2, 25, NULL, 0, 0, 2, N'84.4')
INSERT [dbo].[houses] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (10, N'Тюмень', 641, NULL, NULL, 0, 0, 3, N'130')
INSERT [dbo].[houses] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (11, N'Тюмень', 51, NULL, NULL, 0, 0, 1, N'120')
GO
INSERT [dbo].[land-demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, 15, 12, NULL, NULL)
INSERT [dbo].[land-demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea]) VALUES (5, NULL, NULL, NULL, NULL, NULL, NULL, 1, 14, NULL, NULL)
GO
INSERT [dbo].[lands] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (12, N'Тюмень', 292, NULL, NULL, 0, 0, 20)
INSERT [dbo].[lands] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (13, N'Тюмень', 24, NULL, NULL, 0, 0, 45)
INSERT [dbo].[lands] ([Id], [Address_City], [IdDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (14, N'Тюмень', 531, NULL, NULL, 0, 0, 12)
GO
ALTER TABLE [dbo].[apartment-demands]  WITH CHECK ADD  CONSTRAINT [FK_apartment-demands_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[apartment-demands] CHECK CONSTRAINT [FK_apartment-demands_agents]
GO
ALTER TABLE [dbo].[apartment-demands]  WITH CHECK ADD  CONSTRAINT [FK_apartment-demands_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[apartment-demands] CHECK CONSTRAINT [FK_apartment-demands_clients]
GO
ALTER TABLE [dbo].[apartment-demands]  WITH CHECK ADD  CONSTRAINT [FK_apartment-demands_districts] FOREIGN KEY([IdDistricts])
REFERENCES [dbo].[districts] ([id])
GO
ALTER TABLE [dbo].[apartment-demands] CHECK CONSTRAINT [FK_apartment-demands_districts]
GO
ALTER TABLE [dbo].[apartments]  WITH CHECK ADD  CONSTRAINT [FK_apartments_districts] FOREIGN KEY([IdDistricts])
REFERENCES [dbo].[districts] ([id])
GO
ALTER TABLE [dbo].[apartments] CHECK CONSTRAINT [FK_apartments_districts]
GO
ALTER TABLE [dbo].[house-demands]  WITH CHECK ADD  CONSTRAINT [FK_house-demands_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[house-demands] CHECK CONSTRAINT [FK_house-demands_agents]
GO
ALTER TABLE [dbo].[house-demands]  WITH CHECK ADD  CONSTRAINT [FK_house-demands_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[house-demands] CHECK CONSTRAINT [FK_house-demands_clients]
GO
ALTER TABLE [dbo].[houses]  WITH CHECK ADD  CONSTRAINT [FK_houses_districts] FOREIGN KEY([IdDistricts])
REFERENCES [dbo].[districts] ([id])
GO
ALTER TABLE [dbo].[houses] CHECK CONSTRAINT [FK_houses_districts]
GO
ALTER TABLE [dbo].[land-demands]  WITH CHECK ADD  CONSTRAINT [FK_land-demands_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[land-demands] CHECK CONSTRAINT [FK_land-demands_agents]
GO
ALTER TABLE [dbo].[land-demands]  WITH CHECK ADD  CONSTRAINT [FK_land-demands_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[land-demands] CHECK CONSTRAINT [FK_land-demands_clients]
GO
ALTER TABLE [dbo].[lands]  WITH CHECK ADD  CONSTRAINT [FK_lands_districts] FOREIGN KEY([IdDistricts])
REFERENCES [dbo].[districts] ([id])
GO
ALTER TABLE [dbo].[lands] CHECK CONSTRAINT [FK_lands_districts]
GO
